.app-page {
  &__header-block {
      width: 100%;
      height: 65px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #ffff25;
      padding: 0px 15px;
      box-sizing: border-box;
  }
  &__naked-logo {
    width: auto;
    height: 50px;
  }
  &__question-mark {
    color: #000000;
    font-size: 22px;
  }
}